
.payment-request-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid #ccc;
  margin :30px auto;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  border-radius: 8px;
  background-color: #f9f9f9;
}

.payment-request-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.payment-request-container form {
  display: grid;
  gap: 15px;
}

.payment-request-container label {
  font-weight: bold;
}

.payment-request-container select,
.payment-request-container input[type="text"],
.payment-request-container input[type="number"],
.payment-request-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



.payment-request-container textarea {
  resize: vertical;
}

.payment-request-container button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.payment-request-container button[type="submit"]:hover {
  background-color: #0056b3;
}
