.home-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #edac20;
  }
  
  .home-ll {
    float: left;
  }
  
  .home-ll h1 {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(234, 68, 17);
    margin: 10px;
    
  }
  
 
  .home-ll h1:hover {
    background-color: #f4500a;
  }
  