@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    font-family: 'Outfit', sans-serif;
    background-color: tomato;
    /* Blue background color */
    color: white;
    padding: 20px;
    border-radius: 8px;

}

.cus-Details {
    color: #333;
    font-family: 'Outfit', sans-serif;
    background-color: tomato;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;

}

.Details {
    color: #333;
    font-family: 'Outfit', sans-serif;
    padding: 20px;
}
.flex{
    display: flex;
    background-color: rgb(199, 199, 199);
    color: white;
    padding: 20px;
    border-radius: 8px;
}
.controls{
 margin-left: auto;

}
.controls button{
    border: none;
    color: white;
    background-color: tomato;
    width: max(15vw, 200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
    
}
.button-link {
    border: none;
    color: white;
    background-color: rgb(133, 133, 133);
    width: max(15vw, 200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center; /* Center text horizontally */
    text-decoration: none; /* Remove underline */
    display: inline-block;
  }