@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.list-promotion {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 6px;
  background: white;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
}

.head-linep{
  margin-left: max(2vw,5px);
  margin-top: 15px;
}

.head-linep h1{
  margin-left: max(2vw,5px);
  margin-top: 15px;
}

.search-barp {
  margin-right: 5%;
  margin-top: 1%;
}

.search-bar-intp {
  background-color: #f5f5f5;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
}

.search-bar-intp input[type='text'] {
  border: none;
  outline: none;
  font-size: 16px;
}

.search-btnp {
  background-color: tomato;
  color: white;
  border: none;
  cursor: pointer;
}

.search-btnp:hover {
  background-color: #d95b43;
}

.listpromotion-format-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 65px;
  width: 100%;
  margin-left: 10px;
  padding: 20px 0px;
  color: #454545;
  font-size: 15px;
  font-weight: 600;
}

.listpromotion-allpromotions {
  width: 100%;
}